<div id="app-pagamento" class="main-container" style="padding:10px;">
  <mat-card class="pagamento mat-elevation-z8">
    <mat-card-header style="height: 50px;">
      <div mat-card-avatar>
        <mat-icon style="font-size: 50px;">
          person</mat-icon>
      </div>
      <mat-card-title style="float: left;margin: 15px;">Minha conta</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]='formGroup'>
      <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="16px grid">
        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-card class='mat-elevation-z8'>
            <mat-card-title class="tituloCard">Dados pessoais</mat-card-title>
            <mat-card-content>
              <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="grid">

                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="30%">
                  <mat-form-field appearance="fill">
                    <mat-label>Tipo de Documento</mat-label>
                    <input matInput formControlName="tipoDocumento" value="{{ formGroup.get('tipoDocumento').value }}">
                    <mat-error>
                      Tipo de Documento inválido
                    </mat-error>
                  </mat-form-field>                  
                </div>


                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="30%">
                  <mat-form-field appearance="fill">
                    <mat-label>Documento</mat-label>
                    <input matInput formControlName="numero" required value="{{ formGroup.get('numero').value | cpf }}">
                    <mat-error>
                      CPF inválido
                    </mat-error>
                  </mat-form-field>
                </div>

                <div [style.display]="exibirRg ? 'block':'none'" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%">
                  <mat-form-field appearance="fill">
                    <mat-label>RG</mat-label>
                    <input matInput formControlName="rg" value="{{ formGroup.get('rg').value }}">
                    <mat-error>
                      RG inválido
                    </mat-error>
                  </mat-form-field>
                </div>

                <div *ngIf="exibirRg" fxFlex="18.5%" fxFlex.xs="100%" fxFlex.sm="10%"></div>
                <div *ngIf="!exibirRg" fxFlex="45%" fxFlex.xs="100%" fxFlex.sm="36.5%"></div>
              </div>

              <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="grid">

                <div fxFlex="48.5%" fxFlex.xs="100%" fxFlex.sm="49%">
                  <mat-form-field appearance="fill" class="input-form-field">
                    <mat-label>Nome completo</mat-label>
                    <input matInput formControlName="nomeCompleto" required maxlength="60">
                    <mat-error
                      *ngIf="formGroup.get('nomeCompleto').hasError('required') && (formGroup.get('nomeCompleto').dirty || formGroup.get('nomeCompleto').touched)">
                      Campo Nome completo é obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="48.5%" fxFlex.xs="100%" fxFlex.sm="49%">
                  <mat-form-field appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" placeholder="email" formControlName="email" required email />
                    <mat-error *ngFor="let validation of msgErros.email">
                      <mat-error class="error-message"
                        *ngIf="formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty || formGroup.get('email').touched)">
                        {{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="49%">
                  <mat-form-field appearance="fill" class="input-form-field">
                    <mat-label>Nome Social</mat-label>
                    <input matInput formControlName="nomeSocial" required maxlength="60">
                  </mat-form-field>
                </div>

                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="49%">
                  <mat-form-field appearance="fill">
                    <mat-label>Nascimento</mat-label>
                    <input matInput formControlName="nascimento" required maxlength="10" mask="00/00/0000"
                      value="{{ formGroup.get('nascimento').value }}"
                      (blur)="validarDataPadraoBrasileiro(formGroup,'nascimento');">
                    <mat-error>
                      Data inválida
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="49%">
                  <mat-form-field appearance="fill">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select formControlName="estadoCivil" required>
                      <mat-option *ngFor="let tipo of selectEstadoCivil" [value]="tipo.valor">{{tipo.texto}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="49%">
                  <mat-form-field appearance="fill" class="input-form-field">
                    <mat-label>Nacionalidade</mat-label>
                    <input matInput formControlName="nacionalidade" required>
                      <mat-error
                      *ngIf="formGroup.get('nacionalidade').hasError('required') && (formGroup.get('nacionalidade').dirty || formGroup.get('nacionalidade').touched)">
                      Campo Nacionalidade é obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="35%">
                  <mat-form-field appearance="fill" class="input-form-field">
                    <mat-label>Profissão</mat-label>
                    <input matInput formControlName="profissao" maxlength="60" required>
                    <mat-error
                    *ngIf="formGroup.get('profissao').hasError('required') && (formGroup.get('profissao').dirty || formGroup.get('profissao').touched)">
                    Campo Profissão é obrigatório
                  </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="30%" class="espaco-input">
                  <mat-form-field appearance="fill" class="input-form-field">
                    <mat-label>Celular</mat-label>
                    <input matInput formControlName="celular" required> 
                    <mat-error
                      *ngIf="formGroup.get('celular').hasError('required') && (formGroup.get('celular').dirty || formGroup.get('celular').touched)">
                      Campo Celular é obrigatório
                    </mat-error>
                    <mat-error
                      *ngIf="formGroup.get('celular')?.errors?.telInvalido && !formGroup.get('celular').hasError('required')">
                      Entre com um celular válido
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="30%">
                  <mat-form-field appearance="fill" class="input-form-field">
                    <mat-label>Telefone alternativo</mat-label>
                    <input matInput formControlName="telefoneAlternativo"
                      [textMask]="{ mask: MASKS.telefone.textMaskFunction }">
                    <mat-error *ngIf="formGroup.get('telefoneAlternativo')?.errors?.telInvalido">
                      Entre com um telefone válido
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="19%" fxFlex.xs="100%" fxFlex.sm="15%"></div>
              </div>

                <div class="content" fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="grid">
                
                <div fxFlex="200px" fxFlex.xs="100%" fxFlex.sm="200px">
                  <mat-card-actions style="display: flex; justify-content: center;">
                    <button #btnSalvar [disabled]='!formGroup.valid' (click)='SalvarDadosPessoais()' mat-raised-button
                      class="btnCorGreen" type="submit">
                      Salvar dados pessoais
                    </button>
                  </mat-card-actions>
                </div>



              </div>

            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-card class='mat-elevation-z8'>
            <mat-card-title class="tituloCard">Endereços</mat-card-title>
            <mat-card-content>
              <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="grid">
                <div fxFlex="95%" fxFlex.xs="100%" fxFlex.sm="100%">
                  <button class='btnCorGreen btnAdicionarEndereco' mat-raised-button (click)="NovoEndereco()">
                    <mat-icon>add_box</mat-icon>
                    Adicionar novo endereço
                  </button>
                </div>
                <div *ngIf="listEnderecos.length > 1" fxFlex="95%" fxFlex.xs="100%" fxFlex.sm="100%">
                  <b style="margin-top: 10px;">Selecione o endereço principal:</b>
                </div>
                <div fxFlex="95%" fxFlex.xs="100%" fxFlex.sm="100%">
                  <mat-radio-group class="radio-group">
                    <app-endereco-item [bsRemoverEndereco]='bsRemoverEndereco' 
                                       [bsSelecionarEndereco]='bsSelecionarEndereco'
                                       [bsAlterarEndereco]='bsAlterarEndereco'
                                       [objEnd]='endereco' 
                                       [indice]='i' 
                                       *ngFor="let endereco of listEnderecos; index as i">
                    </app-endereco-item>
                  </mat-radio-group>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-card class='mat-elevation-z8'>
            <mat-card-title class="tituloCard">Minhas Solicitações</mat-card-title>
            <mat-card-content>
              <div class="content" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="grid">
                <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                  <app-datagrid-minhas-solicitacoes #datagrid>
                  </app-datagrid-minhas-solicitacoes>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>