<mat-card class="mat-card-banner-politica-privacidade" *ngIf="exibirPoliticaPrivacidade">
    <mat-card-content>
        <div class="banner-politica-privacidade">
            <div class="corpo-banner">
                <div>
                    <p class="texto-banner-politica-privacidade">
                        O Tabelionet realiza tratamento de dados pessoais e tecnologias do navegador web para facilitar
                        sua navegação.
                        <br>
                        Ao efetuar login no sistema, você concorda com o uso dessa funcionalidade.
                        <a [routerLink]="['/politica-privacidade']">
                            Saiba mais
                        </a>
                    </p>
                </div>
                <br>
                <div>
                    <button mat-raised-button type="button" 
                        (click)="ativar()"
                        class="btnSuccess">
                        Concordo
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>

</mat-card>