.mat-card-banner-politica-privacidade {
    padding: 0px !important;
}

.banner-politica-privacidade {
    position: fixed;
    bottom: 20px;
    left: 100px;
    right: 100px;
    width: auto;
    z-index: 1000;
}

.banner-politica-privacidade a,
.banner-politica-privacidade a:visited,
.banner-politica-privacidade a:link,
.banner-politica-privacidade a:active {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}

.banner-politica-privacidade p {
    margin: 0px !important;
    line-height: 22px !important;
}

.banner-politica-privacidade button {
    float: right !important;
    max-height: 45px;
    top: -30px !important;
    margin-left: 10px;
    margin-right: auto;
    width: 95px;
}


.corpo-banner {
    padding: 15px;
    background-color: #666;
    color: #ddd;
}


@media screen and (max-width: 700px) {
    .banner-politica-privacidade {
        left: 20px;
        right: 20px;
    }    
}

@media screen and (min-width: 1000px) {
    .banner-politica-privacidade {
        margin-left: auto;
        margin-right: auto;
    }  
    .corpo-banner {
        width: 785px;
        margin-left: auto;
        margin-right: auto;
    }    
}