<div class="container">
  <mat-card id="app-resetar-senha">
    <mat-card-header class="mat-card-header">
      <mat-card-title>Nova senha</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="ResetarSenha()" [formGroup]="resetSenhaForm">

        <div formGroupName="matching_passwords">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Senha" formControlName="senha" required>
            <mat-error *ngFor="let validation of errorMessages.senha">
              <mat-error class="error-message"
                *ngIf="resetSenhaForm.get('matching_passwords').get('senha').hasError(validation.type) &&
                (resetSenhaForm.get('matching_passwords').get('senha').dirty || resetSenhaForm.get('matching_passwords').get('senha').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <br>
          <br>

          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Confirma senha" formControlName="confirma_senha"
              [errorStateMatcher]="parentErrorStateMatcher" required>
            <mat-error *ngFor="let validation of errorMessages.confirma_senha">
              <mat-error class="error-message" *ngIf="(
                resetSenhaForm.get('matching_passwords').get('confirma_senha').hasError(validation.type) ||
                resetSenhaForm.get('matching_passwords').hasError(validation.type)) &&
                (resetSenhaForm.get('matching_passwords').get('confirma_senha').dirty ||
                resetSenhaForm.get('matching_passwords').get('confirma_senha').touched)">{{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <br>

        <button class="button" mat-raised-button color="primary" [disabled]="!resetSenhaForm.valid" type="submit">
          Confirmar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
