.container {
  position: relative;
  padding: 0 20px;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.2);
  text-align: -webkit-center;

  #app-resetar-senha {
    $height: 225px;
    height: $height;
    position: relative;
    max-width: 400px;
    margin: auto;
    top: calc(50vh - #{$height / 2});

    form {
      width: calc(100% - 50px);

      mat-form-field {
        width: 100%;
      }
    }

    section.table {
      display: table;
      margin: auto;

      .cell {
        display: table-cell;

        a {
          margin-left: 10px;
        }
      }
    }
  }

  .mt-20 {
    margin-top: 20px !important;
  }

  .mat-card-header{
    display: block;
  }

  .button{
    width: -webkit-fill-available;
  }
}

