<mat-card [class.active]='opt.checked' class="endereco-item">
  <div class="endereco-item-titulo" style="margin-bottom: 10px;">
    <div class="content" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="grid">
      
      <!-- ####### -->
          <!-- IF WIDTH SCREEN < 600px -->
      <!-- ####### -->
      <div class="content width-screen-menor-600" fxFlex="100%" fxFlex.md="95%" fxFlex.sm="95%" fxFlex.xs="95%">
        <mat-radio-button #opt (click)="opt.checked='true';setEnderecoSelecionado(objEnd, $event);"
                          [value]='indice' 
                          fxFlexAlign="stretch" 
                          [checked]='objEnd.flagAtivo'>
          <p class="margin-left-end" style="margin: 0px; padding:0px;">{{objEnd.conteudo?.logradouro}}, {{objEnd.conteudo?.numero}}</p>
          <p class="margin-left-end" style="margin: 0px; padding:0px;"><span *ngIf="objEnd.conteudo?.complemento">{{objEnd.conteudo?.complemento}}, </span> {{objEnd.conteudo?.bairro}}, {{objEnd.conteudo?.cep}}</p>
          <p class="margin-left-end" style="margin: 0px; padding:0px;">{{objEnd.conteudo?.localidade}}, {{objEnd.conteudo?.uf}}</p>
        </mat-radio-button>
      </div>
 
      <div class="content width-screen-menor-600" fxFlex="100%" fxLayoutAlign="start" fxFlex.md="95%" fxFlex.sm="95%" fxFlex.xs="95%">
        <div class="endereco-item-botoes" style="padding-top: 10px !important;">
          
          <button mat-raised-button style="margin-left: 38px; margin-right: 10px;" 
                  class="btnWarning" (click)='alterarEndereco(objEnd)'>
            <i class="material-icons">
              edit
            </i>
          </button>
          <button mat-button mat-raised-button class="btnDanger" 
                  (click)='apagarEndereco(objEnd.idEndereco)'>
            <i class="material-icons">
              delete
            </i>
          </button>
        </div>
      </div>

      
      
      <!-- ####### -->
          <!-- IF WIDTH SCREEN > 600px -->
      <!-- ####### -->
      <div class="content width-screen-maior-600" fxFlex="50%" fxFlex.md="65%" fxFlex.sm="65%" fxFlex.xs="60%">
        <mat-radio-button #opt (click)="opt.checked='true';setEnderecoSelecionado(objEnd, $event);"
                          [value]='indice' 
                          [(checked)]='objEnd.flagAtivo' 
                          fxFlexAlign="stretch">
          <p class="margin-left-end" style="margin: 0px; padding:0px;">{{objEnd.conteudo?.logradouro}}, {{objEnd.conteudo?.numero}}</p>
          <p class="margin-left-end" style="margin: 0px; padding:0px;"><span *ngIf="objEnd.conteudo?.complemento">{{objEnd.conteudo?.complemento}}, </span> {{objEnd.conteudo?.bairro}}, {{objEnd.conteudo?.cep}}</p>
          <p class="margin-left-end" style="margin: 0px; padding:0px;">{{objEnd.conteudo?.localidade}}, {{objEnd.conteudo?.uf}}</p>
        </mat-radio-button>
      </div>

      <div class="content width-screen-maior-600" fxFlex="50%" fxLayoutAlign="end" fxFlex.md="30%" fxFlex.sm="30%" fxFlex.xs="35%">
        <div class="endereco-item-botoes">
          
          <button mat-raised-button style="margin-right: 10px;" 
                  class="btnWarning" (click)='alterarEndereco(objEnd)'>
            <i class="material-icons">
              edit
            </i>
          </button>
          <button mat-button mat-raised-button class="btnDanger" 
                  (click)='apagarEndereco(objEnd.idEndereco)'>
            <i class="material-icons">
              delete
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>