<div class="borda" fxLayout="row wrap" fxLayoutAlign="space-evenly  start" fxLayoutGap="grid">
  <div class="borda" fxFlex="40%" fxFlex.xs="100%">
    <mat-form-field floatLabel="never" class="txtCep" appearance="fill" [formGroup]="formgroup">
      <mat-label [fxHide]='!tituloInput'>CEP</mat-label>
      <input #objCep (keydown.enter)='BuscaEndereco(objCep.value)' formControlName="cep" matInput
        [textMask]="{mask: mascaraCEP}">
      <mat-error *ngIf="formatoCEP?.errors?.cepInvalido || formgroup.get('cep').hasError('required')">
        Cep inválido.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="borda" fxFlex="60%" fxFlex.xs="100%">
    <mat-bar-button #btnCep [disabled]="!formgroup.valid" [options]="barButtonOptions"
      (btnClick)='BuscaEndereco(objCep.value)'>
    </mat-bar-button>
  </div>
</div>
