.borda {
 //border: 1px solid rgb(221, 36, 36);
}

.txtCep{
  display: contents;
  font-size: 0.8rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0 0 0 .75em !important;
}
