<mat-card>
    <mat-card-content>
        <h2>Política de Privacidade</h2>

        <p>Alguns recursos são necessários para fornecer a funcionalidade principal do site, e sem eles, o site não
            funcionará corretamente, e por isso, eles são criados por padrão.</p>
        <p>Atualmente, utilizamos o recurso de Local Storage do seu navegador, com as seguintes chaves:</p>

        <br>

        <table class="table-politica">
            <thead>
                <tr>
                    <th>Chave</th>
                    <th>Recurso</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_p</td>
                    <td>Local Storage</td>
                    <td>Chave utilizada para a confirmação do seu aceite dos termos e política de privacidade do sistema
                        Tabelionet.</td>
                </tr>
                <tr>
                    <td>_t</td>
                    <td>Local Storage</td>
                    <td>Chave utilizada para armazenar o Token de Segurança para a comunicação segura entre as
                        aplicações do sistema do Tabelionet.</td>
                </tr>
                <tr>
                    <td>_u</td>
                    <td>Local Storage</td>
                    <td>Chave utilizada para armazenar os seus dados de identificação e autorizações no sistema do
                        Tabelionet.</td>
                </tr>
                <tr>
                    <td>_s</td>
                    <td>Local Storage</td>
                    <td>Chave utilizada para armazenar temporariamente o status de uma solicitação selecionada.</td>
                </tr>
            </tbody>
        </table>

        <br>

        <p>As chaves "_t", "_u" e "_s" são alimentadas mediante o seu acesso na sistema do Tabelionet, logo, ao efetuar
            o acesso,
            você automaticamente concorda com o uso dessa tecnologia.</p>

        <br><br>
        <h2>Termos de Uso</h2>

        <div [innerHtml]="termosUso"></div>

    </mat-card-content>
</mat-card>