  <div id="app-home" class="main-container">
    
    <div class="imgFundo">
      <div fxLayout="row" fxLayoutAlign="center">
        <h1 class="TituloDash">
          Bem vindo ao maior cartório da WEB!
        </h1>
        <h1 class="TituloDash2">
          Aqui você encontrará produtos oferecidos em cartório, totalmente Online!
          <br>
          <br>
          Logo abaixo estão dispostos os serviços que atenderão suas necessidades!
          <br>
          <br>
        </h1>
      </div>  
    </div>

    <div class="wrap">
      <mat-card appMaterialElevation class="mat-elevation-z8" *ngFor="let categoria of categoriaProdutos">
        <mat-card-header>
          <mat-card-title>
            {{ categoria.titulo }}
          </mat-card-title>

          <mat-card-subtitle>
            <div style="text-align: center;" [innerHTML]="categoria.descricao | truncate:[300]"></div>
          </mat-card-subtitle>
        </mat-card-header>

        <div fxLayout="row" fxLayoutAlign="space-around center">
          <mat-divider style="width: 50%; margin-left: 25%;"></mat-divider>
        </div>

        <mat-card-content>
          <div class="card-container">
            <div class="card-slide">

              <ng-template [ngIf]="categoria.produtos.length > 0" [ngIfElse]="elseBlock">
                <div class="card-content" *ngFor="let produto of categoria.produtos">
                  <div [ngStyle]="produto.isVisible ? {'cursor':'pointer'} : {'cursor':'normal'}"
                       fxLayout="row" fxLayoutAlign="space-around center">

                    <mat-card (click)="produto.isVisible ? detalheProduto(categoria.idProdutoCategoria, produto.idProduto) : ''"
                      appMaterialElevation class="mat-elevation-z8 sizeCard">
                      <img
                        [src]="produto.produtosImagens.length > 0 ? 'data:image/png;base64,' + produto.produtosImagens[0].strBlobConteudo : ''" />
                    </mat-card>
                    <div class="center" (click)="produto.isVisible ? detalheProduto(categoria.idProdutoCategoria, produto.idProduto) : ''">
                      {{ produto.titulo }}
                    </div>

                    <div class="center btnEmBreve"
                      [ngStyle]="{'visibility': produto.isVisible ? 'hidden' : 'visible'}">
                      EM BREVE
                    </div>
                  </div>

                </div>
              </ng-template>

              <ng-template #elseBlock>
                <div class="card-content">
                  <div fxLayout="row" fxLayoutAlign="center">
                    <div class="center btnEmBreve">
                      EM BREVE
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
