
.imgFundo {
  margin-top: 40px;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("./../../../images/img-test.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./../../../images/img-test.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.TituloDash {
  width: 100%;
  font-size: 35px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  flex-direction: row;
  padding: 80px 0 50px 0;
  line-height: 1.4;
}

.TituloDash2 {
  width: 100%;
  font-size: 28px;
  color: #fff;
  text-align: center;
  flex-direction: row;
  padding: 0 0 20px 0;
}

.TituloDash3 {
  width: 100%;
  font-size: 28px;
  color: #fff;
  text-align: center;
  flex-direction: row;
  padding: 0 0 20px 0;
}

.DashFiltros {
  width: 100%;
  padding-bottom: 10px;
  text-align: center;

  .DashIcon {
    font-size: 25px;
    color: white;
    padding-bottom: 5px;
  }

  .SizeDash {
    font-size: 15px;
    width: 220px;
    height: 60px;
    margin-left: 20px;
  }
}



#app-home {

  .wrap {
    padding: 0 !important;
    margin-top: 40px;
  }

  .mat-card {
    margin: 40px auto;
  }

  .card-container {
    overflow-x: auto;
    width: 100%;

    .card-slide {
      width: max-content;
      .card-content {
        display: inline-block;
        margin: 20px 20px 20px 0;
        vertical-align: middle;
        padding-left: 65px;

        > mat-icon {
          height: 100px;
          width: 100%;
          font-size: 120px;
          text-align: center;
        }

        .center {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 10px;
        }
      }
    }
  }

  .mat-card-header {
    padding: 30px 0px 20px 0px !important;
    // padding: 30px 15px 20px 15px !important;
    line-height: 1.7;
    width: 100% !important;
  }

  .mat-card-title {
    text-align: center;
    padding: 10px 15px 20px 15px !important;
    color: #066340;
  }

  .mat-card-title ::after {
    display: block;
    height: 2px;
    background-color: #1976ab;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .mat-card-content {
    padding: 5px !important;
  }

  
  .titulo {
    text-align: "center";
    font-size: 50px;
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    text-align: center;
    color: #0174df;
  }

  .btnCorGreen {
    background-color: #3eb57d;
    color: white;
    border-radius: 5;
  }

  .btnCorDetalhes {
    background-color: #1976ab;
    color: white;
  }

  
}



.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

.sizeCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  text-align: center;
}



.destaque {
  color: #3eb57d;
}


@media screen and (max-width: 650px) {
  .TituloDash{
    font-size: 28px;   
    padding: 15px 5px 15px 5px;
    text-align: center;
  }

  .TituloDash2 {
    width: 100%;
    font-size: 22px;
    color: #fff;
    text-align: center;
    flex-direction: row;
    padding: 0 0 20px 0;
  }

  .card-content {
    padding-left: 25px !important;
  }
}

@media screen and (max-width: 450px) {
  .TituloDash{
    font-size: 20px;   
    padding: 15px 5px 15px 5px;
    text-align: center;
  }

  .TituloDash2 {
    width: 100%;
    font-size: 17px;
    color: #fff;
    text-align: center;
    flex-direction: row;
    padding: 0 0 20px 0;
  }

  .card-content {
    padding-left: 25px !important;
  }
}

@media screen and (max-width: 350px) {
  .card-content {
    padding-left: 15px !important;
  }
}