.imagem-certificado {
  background-image: url('../../../../images/certificate.png');
  background-size: cover;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card{
  margin-bottom: 0.5rem !important;
}

.conteudo{
  overflow-y: scroll;
  height: 410px;
}

.certificado-item {
  background-color: #f5f5f5;
  cursor: pointer;
}

.certificado-item:hover {
  background-color: #dddada;
}

.certificado-item.active {
  background-color: #dddada;
}


