<div id="app-nova-solicitacao" class="main-container" *ngIf="produto" style="padding-bottom: 10px;">

	<mat-card class="solicitacao mat-elevation-z8">

		<mat-card-header>
			<mat-card-title>
				<div class="div-icon">
					<mat-icon class="icon">description</mat-icon>
				</div>

				<div class="div-title">
					<div class="title title-spaces">{{tituloTela}}</div>
					<div class="title-spaces">{{nomeProduto}}</div>
					<div *ngIf="idSolicitacao">Nº {{idSolicitacao}}</div>
				</div>

			</mat-card-title>
		</mat-card-header>

		<mat-card-content>
			<div class="outorgantes">
				<app-cadastro-outorgante #outorgante
				    (idPessoaSolicitante)="idPessoaSolicitante = $event"
					(dadosOutorgantes)="dadosOutorgantes = $event"
          			(datagridOutorgante)="datagridOutorgante = $event"
					[inputDatagridOutorgante]="listaDataGridOutorgantes">
				</app-cadastro-outorgante>
			</div>
		</mat-card-content>

		<mat-card-content>
			<div class="outorgados">
				<app-cadastro-outorgado #outorgado
          			(dadosOutorgados)="dadosOutorgados = $event"
					(representacaoPartesOutorgados)="representacaoPartesOutorgados = $event"
          			(datagridOutorgado)="datagridOutorgado = $event"
          			[inputDatagridOutorgado]="listaDataGridOutorgados">
				</app-cadastro-outorgado>
			</div>
		</mat-card-content>

		<mat-card-content>
			<ng-template 
				#dynamicProduto
			    (dadosProduto)="dadosProduto = $event"
				dadosOutorgantes="dadosOutorgantes"
				(solicitacaoEParaMatrimonio)="solicitacaoEParaMatrimonio = $event">
			</ng-template>
		</mat-card-content>
		
		<mat-card-content>
			<div class="informacoes-importantes">
				<app-informacoes-importantes (dadosInformacoes)="informacoesImportantes = $event">
				</app-informacoes-importantes>
			</div>
		</mat-card-content>

		<mat-card-content>

			<mat-card-actions style="text-align: right;">
				<div fxLayout="row wrap" fxLayoutAlign="space-between center">

					<div fxFlexOffset="50">

					</div>

					<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%" class="espacos-entre-campos">
						<button mat-raised-button [routerLink]="['/']" class="btnAlert botao-tamanho" type="submit">
							Cancelar
						</button>
					</div>

					<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%" class="espacos-entre-campos">
						<button mat-raised-button class="btnCorGreen botao-tamanho" (click)="criarSolicitacao()"
							type="button">
							Avançar
						</button>
					</div>

				</div>

			</mat-card-actions>
		</mat-card-content>

	</mat-card>

</div>
