<div class="container">
  <mat-card id="app-resetar-senha">
    <mat-card-header class="mat-card-header">
      <mat-card-title>Alterar senha</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="AlterarSenha()" [formGroup]="formGroup">

        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Senha atual" formControlName="senha" required>
          <mat-error *ngFor="let validation of errorMessages.senha">
            <mat-error class="error-message" *ngIf="formGroup.get('senha').hasError(validation.type) 
            && (formGroup.get('senha').dirty 
            || formGroup.get('senha').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <br>
        <br>

        <div formGroupName="matching_passwords">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Nova senha" formControlName="novaSenha" required>
            <mat-error *ngFor="let validation of errorMessages.novaSenha">
              <mat-error class="error-message"
                *ngIf="formGroup.get('matching_passwords').get('novaSenha').hasError(validation.type) 
                && (formGroup.get('matching_passwords').get('novaSenha').dirty 
                || formGroup.get('matching_passwords').get('novaSenha').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <br>
          <br>

          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Confirma senha" formControlName="confirma_senha"
              [errorStateMatcher]="parentErrorStateMatcher" required>
            <mat-error *ngFor="let validation of errorMessages.confirma_senha">
              <mat-error class="error-message" *ngIf="(
                formGroup.get('matching_passwords').get('confirma_senha').hasError(validation.type) ||
                formGroup.get('matching_passwords').hasError(validation.type)) &&
                (formGroup.get('matching_passwords').get('confirma_senha').dirty ||
                formGroup.get('matching_passwords').get('confirma_senha').touched)">{{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <br>
        <br>
        <br>

        <button class="button" mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">
          Salvar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>