<div id="app-pagamento" class="main-container" style="padding:10px;">
  <mat-card class="pagamento mat-elevation-z8">

    <mat-card-header>
			<mat-card-title>
				<div class="div-icon">
					<mat-icon class="icon">shopping_cart</mat-icon>
				</div>
				<div class="div-title">
					<div class="title title-spaces">{{this.tituloTela}}</div>
					<div class="title-spaces">{{this.produto.titulo}}</div>
					<div class="title-spaces" *ngIf="idSolicitacao">Nº {{idSolicitacao}}</div>
          <div class="title-spaces">Solicitante: {{this.solicitante.nomeUsuario}}</div>
				</div>
			</mat-card-title>
		</mat-card-header>

    <mat-card-title class="headerSubtitulo">Participantes</mat-card-title>
    <mat-card-content>
     <app-participante-carrinho #objParticipantes></app-participante-carrinho>
    </mat-card-content>

    <mat-card-title class="headerSubtitulo">Composição do preço</mat-card-title>
     <mat-card-content>
      <app-composicao-do-preco #compPreco></app-composicao-do-preco>
    </mat-card-content>

   <mat-card-title class="headerSubtitulo">Termo de concordância</mat-card-title>
    <mat-card-content>
      <app-termo-concordancia #cpTermo></app-termo-concordancia>
    </mat-card-content>

    <mat-card-content>
      <mat-card-actions style="text-align: right;">
        <button mat-raised-button [routerLink]="['/nova-solicitacao', idSolicitacao]" class="btnAlert" type="submit">
          Voltar
        </button>

        <button (click)="salvarDados(compPreco)" 
                [disabled]="!cpTermo.isTermosAceito" 
                mat-raised-button 
                class="btnCorGreen" 
                type="button">
          Avançar
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
