#app-pagamento {
  margin-top: 10px;

  .header {
    margin: 40px 0;

    h1 {
      margin: 0;
    }
  }

  .headerSubtitulo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #0e7951 !important;
    box-shadow: 0px 0px 4px 0px inset rgba(0, 0, 0, 0.5);
    color: white;
  }

  mat-card.pagamento {
    mat-card-subtitle {
      //align-items: stretch;
      color: #066340;
      justify-content: center;
    }
  }

  .mat-card-header {
    background-color: #DEF0D6 !important;
    padding: 5px !important;
    color:#066340;
  }

  .mat-card {
    padding: 0 !important;
  }

  .mat-card-content {
    //background-color: rgba(83, 92, 83, 0.301);
    padding: 5px !important;
    margin-bottom: 0px;
  }

  .caixaProduto {
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px inset rgba(0, 0, 0, 0.5);
  }

  .corValor {
    color: rgb(255, 0, 0);
  }

  .mat-headline {
    margin: 0 0 10px;
  }
}

.div-icon {
	float: left;
	margin-top: 5px;
	margin-left: -15px;

	.icon {
		font-size: 90px;
	}
}

.div-title {
	float: left;
	margin-top: 13px;
	margin-left: 70px;
}

.title {
	font-weight: bold;
	font-size: 20px;
}

.title-spaces {
	margin-bottom: 5px;
}
