<!-- <nav>
       <div class="nav-wrapper">
        <a mat-button [routerLink]="['/']">
          <mat-icon aria-hidden="false">event_note</mat-icon>
          <strong>TABELIO<strong class="corDestaque">NET</strong></strong>
        </a>
            <a href="#" data-activates="menu-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
             <li> <button class="Menu" mat-button [routerLink]="['/']">Home</button></li>
             <li><button class="Menu" mat-button [routerLink]="['/pedido']" >Meus Pedidos</button></li>
            <li><button class="Menu" mat-button>Atendimento</button></li>
             <li><button class="Menu" mat-button>Sobre</button></li>
           </ul>

           <button *ngSwitchCase="false" class="btnCadastrar" mat-button [routerLink]="['/conta/cadastro']">Crie sua conta</button>
    <button *ngSwitchCase="false" class="btnWarning" [routerLink]="['/conta/login']" mat-raised-button aria-label="Conta de Usuário">
      <mat-icon aria-hidden="false">account_circle</mat-icon>Entrar
    </button>


    <mat-label *ngSwitchCase="true" class="spacer titulo">Bem vindo</mat-label>
    <mat-label *ngSwitchCase="true" class="spacer Usuario">{{email}}</mat-label>
    <button *ngSwitchCase="true" [routerLink]="['/']" (click)="logout()" mat-raised-button aria-label="Conta de Usuário">
      <mat-icon aria-hidden="false">account_circle</mat-icon>Sair
    </button>
  </mat-toolbar-row>

         <ul class="side-nav" id="menu-mobile">
            <li><a href="#">Angular</a></li>
            <li><a href="#">Ionic</a></li>
            <li><a href="#">TypeScript</a></li>
            <li><a href="#">Cordova</a></li>
 </ul>
 </div>
  </nav> -->

<!-- <mat-toolbar layout="row" [ngSwitch]="usuarioLogado()">
    <mat-toolbar-row class="menu">
      <a mat-button [routerLink]="['/']">
        <mat-icon aria-hidden="false">event_note</mat-icon>
        <strong>TABELIO<strong class="corDestaque">NET</strong></strong>
      </a>
      <mat-divider vertical style="height:30px;"></mat-divider>
      <button class="Menu" mat-button [routerLink]="['/']">Home</button>
      <mat-divider vertical style="height:30px;"></mat-divider>
      <button class="Menu" mat-button [routerLink]="['/pedido']" >Meus Pedidos</button>
      <mat-divider vertical style="height:30px;"></mat-divider>
      <button class="Menu" mat-button>Atendimento</button>
      <mat-divider vertical style="height:30px;"></mat-divider>
      <button class="Menu" mat-button>Sobre</button>
      <span class="spacer"></span>

      <button *ngSwitchCase="false" class="btnCadastrar" mat-button [routerLink]="['/conta/cadastro']">Crie sua conta</button>
      <button *ngSwitchCase="false" class="btnWarning" [routerLink]="['/conta/login']" mat-raised-button aria-label="Conta de Usuário">
        <mat-icon aria-hidden="false">account_circle</mat-icon>Entrar
      </button>

      <mat-label *ngSwitchCase="true" class="spacer titulo">Bem vindo</mat-label>
      <mat-label *ngSwitchCase="true" class="spacer Usuario">{{email}}</mat-label>
      <button *ngSwitchCase="true" [routerLink]="['/']" (click)="logout()" mat-raised-button aria-label="Conta de Usuário">
        <mat-icon aria-hidden="false">account_circle</mat-icon>Sair
      </button>
    </mat-toolbar-row> -->

<div>
  <mat-toolbar layout="row" [ngSwitch]="usuarioLogado()">
    <mat-toolbar-row class="menu">
      <a mat-button [routerLink]="['/']">
        <mat-icon aria-hidden="false">event_note</mat-icon>
        <strong>TABELIO<strong class="corDestaque">NET</strong></strong>
      </a>

      <div fxShow="true" fxHide.lt-md="true" class="menu-hover">

        <a href="#" classs="menu-classe" mat-button [routerLink]="['/']" class="no-hover">
          <span class="material-icons icon-menu">
            home
          </span>
          Home
        </a>
        <!-- <a href="#" classs="menu-classe" mat-button [routerLink]="['/pedido']" class="no-hover">
          <span class="material-icons icon-menu">
            view_list
          </span>
          Pedidos
        </a>
        <a href="#" classs="menu-classe" mat-button class="no-hover">
          <span class="material-icons icon-menu">
            phone
          </span>
           Atendimento
        </a>
        <a href="#" classs="menu-classe" mat-button class="no-hover">
          <span class="material-icons icon-menu">
            info
          </span>
          Sobre
        </a> -->
        <span class="spacer"></span><span class="example-spacer"></span>

        <button
          *ngSwitchCase="false"
          class="btn-cadastrar no-hover"
          mat-button
          [routerLink]="['/conta/cadastro']">
          Criar conta
        </button>
        <button
          *ngSwitchCase="false"
          class="btn-entrar"
          [routerLink]="['/conta/login']"
          mat-raised-button
          aria-label="Conta de Usuário">
          <mat-icon aria-hidden="false">person</mat-icon>
          Entrar
        </button>

        <!-- <mat-label *ngSwitchCase="true" class="spacer Usuario">{{nome}}</mat-label> -->

        <mat-label *ngSwitchCase="true" class="user">
          <app-usuario-menu [nomeUsuario]="nome" class="no-hover"></app-usuario-menu>
        </mat-label>

      </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <a class="icon-menu-reponsive no-hover" href="#" (click)="sidenav.toggle()">
          <span class="material-icons icon-bars">
            menu
          </span>
        </a>
      </div>

      <!-- <button *ngSwitchCase="true" [routerLink]="['/']" (click)="logout()" mat-raised-button aria-label="Conta de Usuário">
        <mat-icon aria-hidden="false">account_circle</mat-icon>Sair
      </button> -->
    </mat-toolbar-row>
  </mat-toolbar>

<!-- START SIDENAV - RESPONSIVE MENU -->
  <mat-sidenav-container fxFlexFill class="example-container menu-width">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <div fxLayout="column" class="close-btn-menu">
          <a (click)="sidenav.toggle()" href="#" mat-button class="no-hover">
            <span class="material-icons">
              close
            </span>
          </a>
        </div>
        <mat-divider
        horizontal
        style="width: 90%; margin: 0 auto; padding: 15px 0 0 0">
        </mat-divider>
        <app-usuario-menu *ngIf="esconderBotao" [nomeUsuario]="nome" class="user-responsive no-hover"></app-usuario-menu>
        <button *ngIf="!esconderBotao"
        (click)="sidenav.toggle()"
        class="btn-entrar-responsive"
        [routerLink]="['/conta/login']"
        mat-raised-button
        aria-label="Conta de Usuário">
        <mat-icon aria-hidden="false">person</mat-icon>
        Entrar
        </button>
        <button *ngIf="!esconderBotao"
        (click)="sidenav.toggle()"
        class="btn-cadastrar-responsive no-hover"
        mat-button
        [routerLink]="['/conta/cadastro']">
        Criar conta
      </button>
      <mat-divider
        horizontal
        style="width: 90%; margin: 0 auto; padding: 15px 0 0 0;">
      </mat-divider>

        <div fxLayout="column" class="responsive-menu-left">
          <a (click)="sidenav.toggle()" href="#" mat-button [routerLink]="['/']" class="no-hover">
            <span class="material-icons icon-menu">
              home
            </span>
            Home
          </a>
          <!-- <a href="#" mat-button [routerLink]="['/pedido']" class="no-hover">
            <span class="material-icons icon-menu">
              view_list
            </span>
            Meus Pedidos
          </a>
          <a href="#" mat-button class="no-hover">
            <span class="material-icons icon-menu">
              phone
            </span>
            Atendimento
          </a>
          <a href="#" mat-button class="no-hover">
            <span class="material-icons icon-menu">
              info
            </span>
            Sobre
          </a > -->
        </div>
      </div>
    </mat-sidenav>
<!-- END SIDENAV - RESPONSIVE MENU -->
    <mat-sidenav-content fxFlexFill>
      <mat-toolbar-row class="banner">
        <span class="titleBanner"
          >Tabelionet - Seu <span class="corDestaque">Cartório</span> na
         <span class="corDestaque">Web</span></span>
      </mat-toolbar-row>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
