<?xml version="1.0"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>43f1a5d1-6c11-4d3f-b426-b66ddcb4bd85</Id>
  <Licensee>Thomas Greg - PKISuite</Licensee>
  <IssueDate>2021-11-18 17:53:52Z</IssueDate>
  <VersionReleaseDateLimit>2022-11-18 15:00:00Z</VersionReleaseDateLimit>
  <Signature>2Prou1QBR5jAtLrAjSGwmE4pUluj2F608Fg8BvIn72KrkPisXL2YhQCJTeCeARIFhjDlmyc8P4xyu0x6fGjO+WJIFseHflsU1T0VQR041f8WVZ4IhgAyWoFhk6pI4EMHz3sSQatzuLF5Loa9wm2Ad6A6fHG8EE2fMES1YK7XN8LEfMx7Buj7iijGGC4s8KUhaMLR71aIQKTZG3ZfOKFNIMlZ9V49T/Va0uisk6X4h4RbK7IgztL9vK9Ih84/xznVYmgAe4ov/WfSuCuZq9689Hx7ynnOVbZwKhL9XejriXmUq5DuirHdof6CTjzj6UgMm4lJCoXYS5vICHfthmaVZQ==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>