.status{
  display: flex;
  align-items: center;
  font-size: 1.3rem;

  mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    font-size: 3rem;
    font-weight: bold;
    height: 3rem;
    width: 3rem;
    color: green;
  }

}

ul{
  font-size: 1.2rem;
  line-height: 2;
}

.mat-card{
  box-shadow: 0 0 0 0;
}

.mat-card-header{
  display: block;
  margin-bottom: 1.5rem;
}

