<form [formGroup]="formContracaoMatrimonio">

  <h2 class="espacos-entre-campos">Dados da Contração de Matrimónio</h2>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">

      <mat-form-field appearance="outline" aria-placeholder="upload Proclamas" fxFlex="50%" fxFlex.xs="100%"
        fxFlex.sm="50%" class="espacos-entre-campos">
        <ngx-mat-file-input [accept]="'.pdf'"
          (change)="selecionarArquivo()"
          [placeholder]="placeholderProclamas"
          [(value)]="valueProclamas"
          formControlName="uploadArquivo" #fileInput required>
          <mat-icon ngxMatFileInputIcon required
            style="font-size: 50px; color:#066340; margin-top: -16px; margin-left: -15px;">folder</mat-icon>
        </ngx-mat-file-input>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          <strong>Upload do arquivo</strong> é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <mat-label>Regime de Casamento</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="regimeCasamento" required>
          <mat-option *ngFor="let regime of selectRegimeCasamento"
          [value]="regime.valor">{{regime.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>regime de casamento</strong>.
        </mat-error>
      </mat-form-field>

    </div>
  </mat-card-content>

  <h3 class="espacos-entre-campos">Informações do requerente</h3>

  <mat-card-content>
    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" class="espacos-entre-campos">
      <mat-radio-group #radioParaQuem formControlName="solicitacaoEPara" aria-label="Selecione uma opção">
        <mat-radio-button (click)="setEstaSolicitacaoEParaMim()" value="paramim" class="espacos-entre-campos">Esta solicitação é para mim.</mat-radio-button>
        <mat-radio-button (click)="setEstaSolicitacaoEParaOutra()" value="paraoutra" class="espacos-entre-campos">Esta solicitação é para outra pessoa.</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="formContracaoMatrimonio.get('solicitacaoEPara').value == 'paraoutra'">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <mat-label>Nome do requerente</mat-label>
        <input matInput formControlName="nomeRequerente" required maxlength="100"
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'nomeRequerente');adicionarContracaoMatrimonio();"
          [patterns]="piv.customPatternsNome" mask="0{100}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>nome do requerente</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="tipoDocumentoRequerente" required>
          <mat-option *ngFor="let tipo of selectTipoDocumentos" [value]="tipo.valor">{{tipo.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Documento do requerente</mat-label>
        <input matInput formControlName="documentoRequerente" required maxlength="20"
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'documentoRequerente');adicionarContracaoMatrimonio();"
          [patterns]="piv.customPatternsDocumento" mask="0{20}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Documento do requerente</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Data nascimento do requerente</mat-label>
        <input matInput formControlName="dataNascimentoRequerente" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'dataNascimentoRequerente');adicionarContracaoMatrimonio();validarDataPadraoBrasileiro(formContracaoMatrimonio,'dataNascimentoRequerente');"
          maxlength="10" mask="00/00/0000">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe a <strong>data de nascimento do requerente</strong>.
        </mat-error>        
      </mat-form-field>

      <div fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="16.667%">
      </div>
    </div>
  </mat-card-content>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <mat-label>Nome da mãe do requerente</mat-label>
        <input matInput formControlName="nomeMaeRequerente" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'nomeMaeRequerente');adicionarContracaoMatrimonio();"
          maxlength="100" [patterns]="piv.customPatternsNome" mask="0{100}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>nome da mãe do requerente</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="tipoDocumentoMaeRequerente" required>
          <mat-option *ngFor="let tipo of selectTipoDocumentos" [value]="tipo.valor">{{tipo.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Documento da mãe do requerente</mat-label>
        <input matInput formControlName="documentoMaeRequerente" required maxlength="20"
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'documentoMaeRequerente');adicionarContracaoMatrimonio();"
          [patterns]="piv.customPatternsDocumento" mask="0{20}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Documento da mãe do requerente</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Data nascimento da mãe do requerente</mat-label>
        <input matInput formControlName="dataNascimentoMaeRequerente" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'dataNascimentoMaeRequerente');adicionarContracaoMatrimonio();validarDataPadraoBrasileiro(formContracaoMatrimonio,'dataNascimentoMaeRequerente');"
          maxlength="10" mask="00/00/0000">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe a <strong>data de nascimento da mãe do requerente</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Situação</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="situacaoMaeRequerente" required>
          <mat-option *ngFor="let situacao of selectSituacao" [value]="situacao.valor">{{situacao.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Situação</strong>.
        </mat-error>
      </mat-form-field>

    </div>
  </mat-card-content>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <mat-label>Nome do pai do requerente</mat-label>
        <input matInput formControlName="nomePaiRequerente" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'nomePaiRequerente');adicionarContracaoMatrimonio();"
          maxlength="100" [patterns]="piv.customPatternsNome"
          mask="0{100}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>nome do pai do requerente</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="tipoDocumentoPaiRequerente" required>
          <mat-option *ngFor="let tipo of selectTipoDocumentos" [value]="tipo.valor">{{tipo.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Documento do pai do requerente</mat-label>
        <input matInput formControlName="documentoPaiRequerente" required maxlength="20"
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'documentoPaiRequerente');adicionarContracaoMatrimonio();"
          [patterns]="piv.customPatternsDocumento" mask="0{20}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Documento do pai do requerente</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Data nascimento do pai do requerente</mat-label>
        <input matInput formControlName="dataNascimentoPaiRequerente" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'dataNascimentoPaiRequerente');adicionarContracaoMatrimonio();validarDataPadraoBrasileiro(formContracaoMatrimonio,'dataNascimentoPaiRequerente');"
          maxlength="10" mask="00/00/0000">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe a <strong>data de nascimento do pai do requerente</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Situação</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="situacaoPaiRequerente" required>
          <mat-option *ngFor="let situacao of selectSituacao" [value]="situacao.valor">{{situacao.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Situação</strong>.
        </mat-error>
      </mat-form-field>

    </div>
  </mat-card-content>

  <h3 class="espacos-entre-campos">Informações do noivo(a) do requerente</h3>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <mat-label>Nome do(a) noivo(a)</mat-label>
        <input matInput formControlName="nomeNoivos" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'nomeNoivos');adicionarContracaoMatrimonio();"
          maxlength="100" [patterns]="piv.customPatternsNome"
          mask="0{100}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>nome do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="tipoDocumentoNoivos" required>
          <mat-option *ngFor="let tipo of selectTipoDocumentos" [value]="tipo.valor">{{tipo.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Documento do(a) noivo(a)</mat-label>
        <input matInput formControlName="documentoNoivos" required maxlength="20"
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'documentoNoivos');adicionarContracaoMatrimonio();"
          [patterns]="piv.customPatternsDocumento" mask="0{20}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Documento do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Data nascimento do(a) noivo(a)</mat-label>
        <input matInput formControlName="dataNascimentoNoivos" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'dataNascimentoNoivos');adicionarContracaoMatrimonio();validarDataPadraoBrasileiro(formContracaoMatrimonio,'dataNascimentoNoivos');"
          maxlength="10" mask="00/00/0000">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe a <strong>data de nascimento do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <div fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="16.667%">
      </div>
    </div>
  </mat-card-content>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <mat-label>Nome da mãe do(a) noivo(a)</mat-label>
        <input matInput formControlName="nomeMaeNoivos" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'nomeMaeNoivos');adicionarContracaoMatrimonio();"
          maxlength="100" [patterns]="piv.customPatternsNome"
          mask="0{100}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>nome da mãe do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="tipoDocumentoMaeNoivos" required>
          <mat-option *ngFor="let tipo of selectTipoDocumentos"
          [value]="tipo.valor">{{tipo.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Documento da mãe do(a) noivo(a)</mat-label>
        <input matInput formControlName="documentoMaeNoivos" required maxlength="20"
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'documentoMaeNoivos');adicionarContracaoMatrimonio();"
          [patterns]="piv.customPatternsDocumento" mask="0{20}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Documento da mãe do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Data nascimento da mãe do(a) noivo(a)</mat-label>
        <input matInput formControlName="dataNascimentoMaeNoivos" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'dataNascimentoMaeNoivos');adicionarContracaoMatrimonio();validarDataPadraoBrasileiro(formContracaoMatrimonio,'dataNascimentoMaeNoivos');"
          maxlength="10" mask="00/00/0000">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe a <strong>data de nascimento da mãe do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Situação</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="situacaoMaeNoivos" required>
          <mat-option *ngFor="let situacao of selectSituacao" [value]="situacao.valor">{{situacao.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Situação</strong>.
        </mat-error>
      </mat-form-field>

    </div>
  </mat-card-content>

  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <mat-label>Nome do pai do(a) noivo(a)</mat-label>
        <input matInput formControlName="nomePaiNoivos" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'nomePaiNoivos');adicionarContracaoMatrimonio();"
          maxlength="100" [patterns]="piv.customPatternsNome"
          mask="0{100}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>nome do pai do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="tipoDocumentoPaiNoivos" required>
          <mat-option *ngFor="let tipo of selectTipoDocumentos" [value]="tipo.valor">{{tipo.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Documento do pai do(a) noivo(a)</mat-label>
        <input matInput formControlName="documentoPaiNoivos" required maxlength="20"
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'documentoPaiNoivos');adicionarContracaoMatrimonio();"
          [patterns]="piv.customPatternsDocumento" mask="0{20}">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Documento do pai do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Data nascimento do pai do(a) noivo(a)</mat-label>
        <input matInput formControlName="dataNascimentoPaiNoivos" required
          (blur)="piv.interagiuComControle(formContracaoMatrimonio,'dataNascimentoPaiNoivos');adicionarContracaoMatrimonio();validarDataPadraoBrasileiro(formContracaoMatrimonio,'dataNascimentoPaiNoivos');"
          maxlength="10" mask="00/00/0000">
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe a <strong>data de nascimento do pai do(a) noivo(a)</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Situação</mat-label>
        <mat-select (blur)="adicionarContracaoMatrimonio()" formControlName="situacaoPaiNoivos" required>
          <mat-option *ngFor="let situacao of selectSituacao"
            [value]="situacao.valor">{{situacao.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="contracaoMatrimonioFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Situação</strong>.
        </mat-error>
      </mat-form-field>

    </div>
  </mat-card-content>

  <mat-card-content>
    <app-cadastro-testemunha (dadosTestemunhas)="dadosTestemunhas = $event"
                             (atualizarDados)="adicionarContracaoMatrimonio()"
                             [inputDatagridTestemunha]="listaDataGridTestemunhas">

    </app-cadastro-testemunha>
  </mat-card-content>

</form>
