<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>[NomeSolicitante],</h3>
    <br>
    <p>
        <b>
            O seu pagamento foi realizado com sucesso!
        </b>
    </p>
    <p>
        A sua solicitação de número [IdSolicitacao], teve pagamento realizado com cartão de crédito [UltimosDigitosCartao] em [NumeroParcelas]x no valor total de R$ [ValorPago].
    </p>
    <br>
    <p>
        Caso não tenha sido você, por favor,
        entre em contato com o suporte.
    </p>
    <p>
        <b>Thomas Greg & Sons</b>
        <a href="https://homolsi.tgsbr.com.br/cartorio/tabelionet/#/home">
            https://homolsi.tgsbr.com.br/cartorio/tabelionet/#/home
        </a>
    </p>
</body>
</html>