<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>[NomeUsuario],</h3>
    <br>
    <p>
        <b>
            A solicitação de número
            [solicitacao.IdSolicitacao] foi criada com sua conta Tabelionet.
        </b>
    </p>

    <br>
    <p>
        Caso não tenha sido você, por favor,
        entre em contato com o suporte.
    </p>
    <p>
        <b>Thomas Greg & Sons</b>
        <a href="https://homolsi.tgsbr.com.br/cartorio/tabelionet/#/home">
            https://homolsi.tgsbr.com.br/cartorio/tabelionet/#/home
        </a>
    </p>
</body>
</html>