<form>

    <h2 class="espacos-entre-campos">Formulário de Compra e Venda de Bens</h2>

    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
                <mat-label>Imóvel a Comprar</mat-label>
                <input matInput  required maxlength="60">
            </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
                <mat-label>Valor do Imóvel</mat-label>
                <input matInput  required maxlength="60">
            </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
                <mat-label>Endereço do Imóvel</mat-label>
                <input matInput  required maxlength="60">
            </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
                <mat-label>Nome do Proprietário Atual</mat-label>
                <input matInput required maxlength="60">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>