<div id="app-detalhamento" *ngIf="produto">
  <mat-card appMaterialElevation class="detalhes">

    <div class="container">
      <div class="item">
        <mat-card appMaterialElevation class="card-rounded mat-elevation-z8" style="width:50px;height: 50px;">
          <img style="width:50px;height: 50px;" [src]="'data:image/png;base64,' + produtoImagem.blobConteudo" />
        </mat-card>
      </div>
      <div class="titulo">
        {{ produto.titulo }}
      </div>
    </div>

    <div class="descricao">
      {{ produto.descricao }}
    </div>

    <div class="container" *ngFor="let modalidade of modalidades">
      <div class="item">
        <mat-card appMaterialElevation class="card-rounded mat-elevation-z8" style="width:50px;height: 50px;">
          <img style="width:50px;height: 50px;" [src]="'data:image/png;base64,' + modalidade.strBlobConteudo" />
        </mat-card>
      </div>
      <div class="titulo">
        {{ modalidade.titulo }}
      </div>

      <div class="descricao-modalidade">
        {{ modalidade.descricao }}
      </div>

      <div *ngIf="exibirBotaoSolicitar" class="btn-solicitar">
        <button class="btnCorGreen" mat-raised-button
          [routerLink]="['/nova-solicitacao/matrimonio/online']"
          routerLinkActive="router-link-active">
          <mat-icon>shopping_cart</mat-icon>
          <span>Solicitar</span>
        </button>
      </div>

      <div *ngIf="!exibirBotaoSolicitar">
        <div class="alerta-solicitar">
          <p>Para solicitar, aceite a política de privacidade e termos de uso!</p>
        </div>
      </div>
    </div>


    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center"
      fxLayoutAlign.gt-sm="center start">
      <div class="btn-voltar" fxFlex="100%" fxFlex.gt-sm="100%">
        <button mat-raised-button [routerLink]="['/']" class="btnAlert" type="submit">Voltar</button>
      </div>
    </div>
  </mat-card>
</div>