<form [formGroup]="informacoesImportantesForm">

    <mat-card-content>
      <!-- <mat-form-field hintLabel="Máx. 1000 caracteres" appearance="fill" class="example-full-width">
        <mat-label>Atos cartoriais</mat-label>
        <textarea disabled matInput #input maxlength="1000" formControlName="atosCartoriais">
        </textarea>
        <mat-hint align="end">{{ input.value?.length || 0 }}/1000</mat-hint>
      </mat-form-field> -->
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">

        <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"
        class="espacos-entre-campos, example-full-width">
          <mat-label>Informações Importantes</mat-label>
          <textarea class="resize-none" multiple matInput rows="4"
            (blur)="pushInformacoesImportantes()"
            #input formControlName="informacoesImportantes" maxlength="1000"
            placeholder="Observações referentes ao cartório"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>


</form>
