<mat-card class="corpo mat-elevation-z8">
  <mat-card-header class='opcao-pag-cabecalho'>
    <!-- <div class="opcao-pag-titulo">
      
    </div> -->
    <mat-card-title class="opcao-item-titulo-pagamento">
      <mat-icon class="opcao-item-titulo-pagamento-icone icon-cartao-credito">credit_card</mat-icon>
      <span class="titulo-cartao-credito">Cartão de Crédito</span>
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="formGroup">
    <mat-card-content>
      <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="grid">
        <div fxFlex="95%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>Número do cartão</mat-label>
            <input matInput formControlName="numeroCartao" [textMask]="{ mask: cartaoCredito }" required>
            <mat-error
              *ngIf="numeroCartao?.errors?.cartaoInvalido || formGroup.get('numeroCartao').hasError('required')">
              Número inválido.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="95%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>Nome</mat-label>
            <input #nome matInput formControlName="nomeCompleto" [value]='nome.value.toUpperCase()' required
              maxlength="60">
            <mat-error *ngIf="formGroup.get('nomeCompleto').hasError('required')">
              Informe um <strong>nome</strong>.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="45%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>Vencimento</mat-label>
            <input matInput formControlName="dataVencimento" [textMask]="{ mask: validadeCartao}" required>
            <mat-error *ngIf="dataCartao?.errors?.dataInvalida || formGroup.get('dataVencimento').hasError('required')">
              Data inválida.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="45%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>Código de segurança</mat-label>
            <input [textMask]="{ mask: codSeg }" matInput formControlName="codSeg" required>
            <mat-error *ngIf="cvvCartao?.errors?.cvvCartao || formGroup.get('dataVencimento').hasError('required')">
              Código inválido.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="95%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>CPF do titular</mat-label>
            <input matInput formControlName="cpf" [textMask]="{ mask: MASKS.cpf.textMask }" required>
            <mat-error>
              CPF inválido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="95%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-form-field appearance="fill" class="input-form-field">
            <mat-label>Parcelamento</mat-label>

            <mat-select #selectparcela (selectionChange)='parcelamentoSelecionado(selectparcela.value)'  
                        formControlName="numeroParcelas" required >
              <mat-option *ngFor="let parcela of parcelamento.parcelas" 
                          [value]="parcela.numero">

                {{ parcela.numero }}x {{parcela.valorParcela | currency:'BRL':true:'1.2-2'}}  (Total de {{parcela.valorTotal | currency:'BRL':true:'1.2-2'}})

              </mat-option>
            </mat-select>
          </mat-form-field>
          <p><span style="color: red;">Atenção:</span> Os valores apresentados podem sofrer alterações de taxas em função dos meios de pagamento e da quantidade de parcelas escolhidos pelo Participante. </p>
        </div>
      </div>
    </mat-card-content>
  </form>
  <mat-card-footer>
    <button [disabled]='!formGroup.valid && !parcelamentoValido' (click)='Pagar()' mat-raised-button class="btnCorGreen" type="submit">
      Confirmar
    </button>
  </mat-card-footer>
</mat-card>