<form [formGroup]="formOutorgado">

  <h2 class="espacos-entre-campos">Outorgado</h2>
  <mat-card-content style="margin-bottom: 0px;">
    <div fxLayout="row wrap" fxLayoutAlign="start space-between">

      <mat-form-field appearance="outline" fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="173px"
        class="espacos-entre-campos">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select (blur)="checkIfPessoaExiste()" (selectionChange)="validarTipoDocumento($event)" formControlName="idTipoDocumento" required>
          <mat-option *ngFor="let tipo of selectTipoDocumentos" [value]="tipo.valor">{{tipo.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="outorgadoFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="21%" fxFlex.xs="100%" fxFlex.sm="173px" class="espacos-entre-campos">
        <mat-label>Documento</mat-label>
        <input matInput formControlName="documentoOutorgado" required maxlength="20"
          (blur)="piv.interagiuComControle(formOutorgado, 'documentoOutorgado');checkIfPessoaExiste();"
          [patterns]="piv.customPatternsDocumento" mask="0{20}">
        <mat-error
          *ngIf="outorgadoFormControl.hasError('required')">
          Por favor, informe o <strong>Documento</strong>.
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field [style.display]="exibirRg ? 'block':'none'"
                      appearance="outline"
                      fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="173px"
                      class="espacos-entre-campos">
        <mat-label>RG</mat-label>
        <input matInput formControlName="rgOutorgado" maxlength="12"
          (blur)="piv.interagiuComControle(formOutorgado, 'rgOutorgado')"
          [patterns]="piv.customPatternsRg" mask="0{12}">
      </mat-form-field> -->

      <mat-form-field appearance="outline"
                      fxFlex="25.9%" fxFlex.xs="100%" fxFlex.sm="50%"
                      class="espacos-entre-campos">
        <mat-label>Nome completo</mat-label>
        <input matInput formControlName="nomeOutorgado"
          (blur)="piv.interagiuComControle(formOutorgado, 'nomeOutorgado')"
          required maxlength="100" [patterns]="piv.customPatternsNome"
          mask="0{100}">
        <mat-error *ngIf="outorgadoFormControl.hasError('required')">
          Por favor, informe o <strong>Nome Completo</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field [style.display]="exibirOutrosCampos ? 'block':'none'"
                      appearance="outline"
                      fxFlex="25.9%" fxFlex.xs="100%" fxFlex.sm="50%"
                      class="espacos-entre-campos">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="emailOutorgado"
          required maxlength="50"
          (blur)="piv.interagiuComControle(formOutorgado, 'emailOutorgado')"
          [patterns]="piv.customPatternsEmail" mask="0{50}">
        <mat-error *ngIf="outorgadoFormControl.hasError('required')">
          Por favor, informe o <strong>E-mail</strong>.
        </mat-error>
      </mat-form-field>

    </div>
  </mat-card-content>

  <mat-card-content>
    <!-- <div fxLayout="row wrap" fxLayoutAlign="space-between center"> -->

    <div fxLayout="row"
         fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"
         class="espacos-entre-campos div-btn-add-outorgado">
      <button mat-raised-button class="btnSuccess btn-add-outorgado" (click)="adicionarOutorgado()">
        <mat-icon>add</mat-icon>
        <span> Adicionar outorgado</span>
      </button>
    </div>

    <!-- </div> -->
  </mat-card-content>

  <mat-card-content>
    <app-datagrid-outorgado #datagrid [dataSource]="listaDataGridOutorgados"
      (EventoDeletarParte)="removerOutorgado($event)">
    </app-datagrid-outorgado>
  </mat-card-content>

  <mat-card-content>
    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" class="espacos-entre-campos">
      <mat-radio-group formControlName="representacaoPartes" aria-label="Selecione uma opção">
        <mat-radio-button (click)="setRepresentacaoTodasPartes()" value="todas" class="espacos-entre-campos">Permitir representação apenas por todas as partes</mat-radio-button>
        <mat-radio-button (click)="setRepresentacaoQualquerPartes()" value="qualquer" class="espacos-entre-campos">Permitir representação através de qualquer parte</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-card-content>

</form>
