<div id="app-pagamento" class="main-container" style="padding:10px;">


  <mat-card id="impressao" class="pagamento mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon style="font-size: 75px;">payments</mat-icon>
        <div class="layout-row">
          <mat-card-title>STATUS DA SOLICITAÇÃO</mat-card-title>
          <div class="layout-column">
            <div class="flex-33">
              <mat-card-subtitle>
                <label style="font-weight: bold;">
                  ID: <span style="font-weight: normal;">{{ statusSolicitacaoHeader.idSolicitacao }}</span>
                </label>
                <div class="flex">
                  <label style="font-weight: bold;">Produto: <span style="font-weight: normal;">{{
                      statusSolicitacaoHeader.produto }}</span></label>
                </div>
                <div class="flex">
                  <label style="font-weight: bold;">Solicitante: <span style="font-weight: normal;">{{
                      statusSolicitacaoHeader.solicitante }}</span></label>
                </div>
              </mat-card-subtitle>
            </div>
          </div>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <h4 style="color: #333; font-weight: bold; margin: 5px 0px 7px 12px;">
        Status da Solicitação
      </h4>
      <app-tracking-solicitacao></app-tracking-solicitacao>
    </mat-card-content>

    <mat-card-content>
      <h4 style="color: #333; font-weight: bold; margin: 5px 0px 7px 12px;">
        Status dos Participantes
      </h4>
      <app-detalhes [idSolicitacao]='idSolicitacao'></app-detalhes>
    </mat-card-content>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center">

        <div fxFlexOffset="50">

        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%" class="espacos-entre-campos">
          <button (click)="printTelaStatusSolicitacao('impressao')" mat-raised-button
            class="btnCorGreen botao-tamanho btn-add-status-solicitacao" type="button">
            Imprimir
          </button>
        </div>

      </div>

    </mat-card-content>

  </mat-card>


</div>