#app-pagamento {
  margin-top: 10px;
  
  .header {
    margin: 40px 0;

    h1 {
      margin: 0;
    }
  }

  .layout-row {
    width: 280px;
    position: relative;
    top: -68px;
    left: 90px;
  }

  // .mat-card-avatar {
    
  // }

  mat-card.pagamento {
    mat-card-subtitle {
      color: #066340;  
      justify-content: center; 
    }
  }

  .mat-card-header{    
    background-color:#D3E0CE !important;
    padding:5px !important;
    color: #066340;  
    height: 115px; 
  }


  .mat-card{
    padding:0 !important;
  }
  
  .mat-card-content{
    padding:5px !important;
    
  }

  // .caixaProduto {
  //   padding: 10px;
  //   text-align: center;
  //   box-shadow: 0px 0px 3px 0px inset rgba(0, 0, 0, 0.5);
  // }

  // .mat-headline {
  //   margin: 0 0 10px;
  // }
}

// .content {
//   padding: 0px;
// }

// .mat-card-content {
//   margin-bottom: 0px;
// }

// mat-card-footer {
//   display: flex;
//   justify-content: space-between;
//   margin: 10px;
//   padding-bottom: 10px;
// }

// .cartao-pagamento {
//   //box-shadow: none;
// }

// .cartao-pagamento-titulo {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 1rem;
//   min-height: 3rem;
//   border-radius: 0.6rem;
//   font-size: 1.6rem;
//   box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
// }

// .cartao-item-pagamento {
//   margin: 1rem;
//   background-color: #f5f5f5;
//   cursor: pointer;
// }

// .cartao-item-pagamento:hover {
//   background-color: #dddada;
// }

// .cartao-item-pagamento.active {
//   background-color: #dddada;
// }

// .cartao-item-titulo-pagamento {
//   display: flex;
//   align-items: center;
//   margin: 0.5rem;
//   padding: 3rem;
// }

// .cartao-item-titulo-pagamento-icone {
//   width: 48px;
//   height: 48px;
//   font-size: 48px;
//   padding-right: 1.6rem;
// }

// ::ng-deep .mat-radio-label {
//   white-space: normal !important;
// }

// .cor-moeda {
//   padding-left: 0.5rem;
// }

// .tituloCard{
//   padding-top:1rem;
//   padding-left:1rem;
// }

// .btnAdicionarEndereco {
//     font-size: 1rem;
//     padding-left: 1.5rem;
//     margin-top: 0.5rem;
//     margin-bottom: 0.5rem;
//     width: 95% !important;
//     display: flex;
// }

// @media print {
//   :host {
//     display: none;
//   }
// }

.btn-add-status-solicitacao {
  width: 250px;
  float: right;
  height: 52px;
  margin: 20px 0px 5px 5px;  
}