<div class="container">
  <mat-card id="app-recuperar-senha">
    <mat-card-header>
      <mat-card-title>Recuperar senha</mat-card-title>
      <mat-card-subtitle>Um link será enviado para seu e-mail.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="enviar()" #recuperarForm="ngForm">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" name="email" placeholder="usuario@exemplo.com" value="" required email
            [(ngModel)]="email" (ngModelChange)="m_email.control.markAsTouched()" #m_email="ngModel" />

          <mat-error *ngIf="m_email.invalid && (m_email.dirty || m_email.touched)">
            <p *ngIf="m_email.errors.required">Informe um e-mail.</p>
            <p *ngIf="m_email.errors.email">Informe um e-mail válido.</p>
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <button class="button" mat-raised-button color="primary" [disabled]="!recuperarForm.form.valid" type="submit">
          Enviar
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <section class="table">
        <div class="cell">
          <a mat-button [routerLink]="['/conta/cadastro']" routerLinkActive="router-link-active" color="primary">
            Crie sua conta</a>
        </div>
        <div class="cell">
          <a mat-button [routerLink]="['/conta/login']" routerLinkActive="router-link-active"
            color="primary">Acesse sua conta</a>
        </div>
      </section>
    </mat-card-actions>
  </mat-card>
</div>
