<div class="footer">
  <mat-toolbar class="banner">
    <span class='spacer'></span>
      <!-- <div class="texto"> -->
        <div class="texto">
          <p style="margin-top: 10px !important; text-align: center !important;">© Copyright TABELIONET - 2020</p>
          <a style="margin-top: -10px !important; text-align: center !important;" class="linkPoliticaPrivacidade texto" [routerLink]="['/shared/politica-privacidade']" routerLinkActive="router-link-active">
            Política de Privacidade | Termos de Uso
          </a>
        </div>
        
      <!-- </div> -->
      <!-- <div class="texto"> -->
        
      <!-- </div> -->
    <span class='spacer'></span>
  </mat-toolbar>
</div>
