<form [formGroup]="formTestemunha">

  <h2 class="espacos-entre-campos">Testemunhas</h2>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">

      <mat-form-field appearance="outline" fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <mat-label>Nome testemunha</mat-label>
        <input matInput formControlName="nomeTestemunha" required maxlength="100"
          (blur)="piv.interagiuComControle(formTestemunha,'nomeTestemunha')"
          [patterns]="piv.customPatternsNome" mask="0{100}">
        <mat-error *ngIf="testemunhaFormControl.hasError('required')">
          Por favor, informe o <strong>nome completo</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select formControlName="tipoDocumentoTestemunha" required
          (selectionChange)="validarTipoDocumento($event)">
          <mat-option *ngFor="let tipo of selectTipoDocumentos"
            [value]="tipo.valor">{{tipo.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="testemunhaFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo de Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="21%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Documento testemunha</mat-label>
        <input matInput formControlName="documentoTestemunha" required maxlength="20"
          (blur)="piv.interagiuComControle(formTestemunha,'documentoTestemunha')"
          [patterns]="piv.customPatternsDocumento" mask="0{20}">
        <mat-error *ngIf="testemunhaFormControl.hasError('required')">
          Por favor, informe o <strong>Documento</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field [style.display]="exibirRg ? 'block':'none'" appearance="outline"
        fxFlex="13.6%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>RG testemunha</mat-label>
        <input matInput formControlName="rgTestemunha" required maxlength="12"
          (blur)="piv.interagiuComControle(formTestemunha,'rgTestemunha')"
          [patterns]="piv.customPatternsRg" mask="0{12}">
        <mat-error *ngIf="testemunhaFormControl.hasError('required')">
          Por favor, informe o <strong>RG</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="16.667%" fxFlex.xs="100%" fxFlex.sm="50%"
        class="espacos-entre-campos">
        <mat-label>Parte</mat-label>
        <mat-select formControlName="parte" required>
          <mat-option *ngFor="let parte of selectParte"
          [value]="parte.valor">{{parte.texto}}</mat-option>
        </mat-select>
        <mat-error *ngIf="testemunhaFormControl.hasError('required')">
          Por favor, informe o <strong>Tipo parte</strong>.
        </mat-error>
      </mat-form-field>

      <!-- <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="espacos-entre-campos">
        <button mat-raised-button class="btnSuccess botao-tamanho" (click)="adicionarTestemunhas()">
          <mat-icon>add</mat-icon>
          <span> Adicionar</span>
        </button>
      </div> -->

    </div>
  </mat-card-content>

  <mat-card-content>

    <div fxLayout="row" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"
      class="espacos-entre-campos div-btn-add-testemunha">
      <button mat-raised-button class="btnSuccess btn-add-testemunha" (click)="adicionarTestemunhas()">
        <mat-icon>add</mat-icon>
        <span> Adicionar testemunha</span>
      </button>
    </div>


  </mat-card-content>

  <mat-card-content>
    <app-datagrid-testemunha #datagrid [dataSource]="listaDataGridTestemunhas"
      (EventoDeletarParte)="removerTestemunha($event)">
    </app-datagrid-testemunha>
  </mat-card-content>

  <!-- <div>
    {{ formTestemunha.value | json }}
  </div> -->

</form>
