#app-pagamento {
  margin-top: 10px;

  .header {
    margin: 40px 0;

    h1 {
      margin: 0;
    }
  }

  .headerSubtitulo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #def0d6 !important;
    box-shadow: 0px 0px 4px 0px inset rgba(0, 0, 0, 0.5);
    color: white;
  }

  mat-card.pagamento {
    mat-card-subtitle {
      margin: 1rem;
      color: #066340;
      justify-content: center;
    }
  }

  .mat-card-header {
    background-color: #DEF0D6 !important;
    padding: 5px !important;
    color:#066340;
  }

  .mat-card {
    padding: 0 !important;
  }

  .mat-card#cardEscolhaPagamento {
    height: 501.575px !important;
    padding: 16px !important;
  }

  #cardEscolhaPagamento .active {
    background-color: #066340d4 !important;
    color: #ccc;
  }

  .mat-card-content {
    //background-color: rgba(83, 92, 83, 0.301);
    padding: 5px !important;
    margin-bottom: 0px;
  }

  .caixaProduto {
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px inset rgba(0, 0, 0, 0.5);
  }

  .mat-headline {
    margin: 0 0 10px;
  }
}

.content {
  padding: 0px;
}

.mat-card-content {
  margin-bottom: 0px;
}

mat-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 10px;
}

// .cartao-pagamento {
//   //box-shadow: none;
// }

.cartao-pagamento-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  min-height: 3rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.cartao-item-pagamento {
  margin: 1rem;
  background-color: #f5f5f5;
  cursor: pointer;
}

.cartao-item-pagamento:hover {
  background-color: #dddada;
}

.cartao-item-pagamento.active {
  background-color: #dddada;
}

.cartao-item-titulo-pagamento {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 3rem;
}

.cartao-item-titulo-pagamento-icone {
  width: 48px;
  height: 48px;
  font-size: 48px;
  padding-right: 1.6rem;
}

::ng-deep .mat-radio-label {
  white-space: normal !important;
}

.cor-moeda {
  padding-left: 0.5rem;
}

.tituloCard{
  padding-top:1rem;
  padding-left:1rem;
}

.btnAdicionarEndereco {
    font-size: 1rem;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 95% !important;
    display: flex;
}



.div-icon {
	float: left;
	margin-top: 5px;
	margin-left: -15px;

	.icon {
		font-size: 90px;
	}
}

.div-title {
	float: left;
	margin-top: 13px;
	margin-left: 70px;
}

.title {
	font-weight: bold;
	font-size: 20px;
}

.title-spaces {
	margin-bottom: 5px;
}


@media Screen and (max-width: 942px) {
  .mat-card#cardEscolhaPagamento {
    height: auto !important;
    padding: 16px !important;
  }
}