<div id="app-pagamento" class="main-container" style="padding:10px;">
  <mat-card class="pagamento mat-elevation-z8">
    
    <mat-card-header style="margin-bottom: 5px;">
			<mat-card-title>
				<div class="div-icon">
					<mat-icon class="icon">payments</mat-icon>
				</div>
				<div class="div-title">
					<div class="title title-spaces">Pagamento</div>
					<div class="title-spaces">{{obj.produto}}</div>
					<div class="title-spaces" *ngIf="idSolicitacao">Nº {{idSolicitacao}}</div>
          <div class="title-spaces">Solicitante: {{obj.usuario}}</div>
				</div>
			</mat-card-title>
		</mat-card-header>

    <div *ngIf="optBB.checked" class="cartao-pagamento-titulo">
      Valor total do produto 
          <b class="cor-moeda"> {{obj.valorTotal | currency:'BRL'}}</b>
      </div>
    <mat-card-content>
      <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="16px grid">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-card id="cardEscolhaPagamento" class="cartao-pagamento mat-elevation-z8">
            <mat-card-title class="tituloCard">Escolha a forma de pagamento</mat-card-title>
            <mat-card-content>
              <mat-radio-group [(ngModel)]='optGrupoSel' class="radio-group">
                <mat-card [class.active]='optCC.checked' (click)="optCC.checked='true';AlterarValorTotal('cartao')" class="cartao-item-pagamento">
                  <mat-card-title class="cartao-item-titulo-pagamento">
                    <mat-icon class="cartao-item-titulo-pagamento-icone">credit_card</mat-icon>
                    <mat-radio-button #optCC value='1'>Cartao de crédito</mat-radio-button>
                  </mat-card-title>
                </mat-card>
                <mat-card [class.active]='optBB.checked' (click)="optBB.checked='true';AlterarValorTotal('boleto')" class="cartao-item-pagamento">
                  <mat-card-title class="cartao-item-titulo-pagamento">
                    <mat-icon class="cartao-item-titulo-pagamento-icone">receipt</mat-icon>
                    <mat-radio-button #optBB value='2'>Boleto</mat-radio-button>
                  </mat-card-title>
                </mat-card>
              </mat-radio-group>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <div [hidden]='!optCC.checked'>
            <app-cartao-credito [bsPagamento]='bsPagamento'></app-cartao-credito>
          </div>
          <div [hidden]='!optBB.checked'>
            <app-boleto-bancario [bsPagamento]='bsPagamento'></app-boleto-bancario>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button [routerLink]="['/carrinho', idSolicitacao]" class="btnAlert"
        type="submit">Voltar</button>
    </mat-card-footer>
  </mat-card>
</div>