.corpo {
  //border: 1px solid black;
  max-width: 500px;
}

// mat-card-header{
//  // border: 1px solid rgb(173, 48, 48);
//   margin-bottom: 20px;
// }

mat-form-field {
  width: 100%;
}

mat-card-footer {
  display: flex;
  justify-content: center;
  margin: 10px 10px 0px 10px;
}

.linhaCEP {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linha {
  display: flex;
  justify-content: space-between;
}

::ng-deep .opcao-pag-cabecalho .mat-card-header-text {
  margin: 0 !important;
}

.opcao-pag-titulo {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

// ::ng-deep .mat-card-header-text {
//   margin: 0 !important;
// }

.opcao-item-titulo-pagamento {
  margin: 0;
}

.opcao-item-titulo-pagamento-icone {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}

.borda{
  //border:1px solid blue;
}
