<h1 mat-dialog-title>{{titulo}}</h1>
<form [formGroup]="formgroup">
  <div class="borda" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="grid">
    <div class="borda" fxFlex="20%" fxFlex.xs="100%">
      <mat-form-field appearance="fill" [formGroup]="formGroupCEP">
        <mat-label>CEP</mat-label>
        <input #objCep (keyup.enter)='EvtBotaoCEP()' (focus)="barButtonOptions.disabled=!formGroupCEP.valid" formControlName="cep" matInput
          [textMask]="{mask: mascaraCEP}">
        <mat-error *ngIf="formatoCEP?.errors?.cepInvalido || formGroupCEP.get('cep').hasError('required')">
          Cep inválido.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="borda" fxFlex="75%" fxFlex.xs="100%">
      <mat-bar-button #btnCep [disabled]="!formGroupCEP.valid" [options]="barButtonOptions"
        (btnClick)="BuscaEndereco(objCep.value)">
      </mat-bar-button>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="grid">
    <div class="borda" fxFlex="100%" fxFlex.xs="100%">
      <mat-form-field appearance="fill" class="input-form-field">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="logradouro">
        <mat-error *ngIf="formgroup.get('logradouro').hasError('required')">
          Informe um logradouro.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="grid">
    <div class="borda" fxFlex="25%" fxFlex.xs="100%">
      <mat-form-field appearance="fill" class="input-form-field"
        (keyup.enter)="EvtSalvar(!formgroup.get('numero').hasError('required'))">
        <mat-label>Número</mat-label>
        <input #txtNumero matInput formControlName="numero" type="number" min="0">
        <mat-error *ngIf="formgroup.get('numero').hasError('required')">
          Informe um número.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="borda" fxFlex="65%" fxFlex.xs="100%">
      <mat-form-field appearance="fill" class="input-form-field"
        (keyup.enter)="EvtSalvar(!formgroup.get('numero').hasError('required'))">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento">
      </mat-form-field>
    </div>
  </div>

  <!-- <div class="linha">


  </div> -->

  <div class="borda" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="grid">
    <div class="borda" fxFlex="30%" fxFlex.xs="100%">
      <mat-form-field  appearance="fill" class="input-form-field">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro">
        <mat-error *ngIf="formgroup.get('bairro').hasError('required')">
          Informe um bairro.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="borda" fxFlex="35%" fxFlex.xs="100%">
      <mat-form-field  appearance="fill" class="input-form-field">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="localidade">
        <mat-error *ngIf="formgroup.get('localidade').hasError('required')">
          Informe uma cidade.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="borda" fxFlex="15%" fxFlex.xs="100%">
      <mat-form-field appearance="fill" class="input-form-field">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="uf" maxlength='2'>
        <mat-error *ngIf="formgroup.get('uf').hasError('required')">
          Informe um estado.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- <div class="linha">



  </div> -->
</form>

<mat-card-footer>
  <mat-card-actions style="display: contents;">
    <button id="btnFecharModal" mat-raised-button class="btnAlert" [mat-dialog-close]>
      Cancelar
    </button>
    <button #btnSalvar [disabled]='!formgroup.valid || !formGroupCEP.valid' (click)='Salvar()' mat-raised-button
      class="btnCorGreen" type="submit">
      Salvar
    </button>
  </mat-card-actions>
</mat-card-footer>
