<div>
  <mat-card class="mat-elevation-z8">
    
    <div style="padding-bottom: 20px;" [innerHtml]="termo.conteudo"></div>
    <div class="form-group">
      <div class="col-md-3" style="text-align: center;">
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" (change)='termosConcordancia($event)'> Aceito os termos supracitados e declaro estar ciente de todos eles.
          </label>
        </div>
      </div>
    </div>
  </mat-card>
</div>